*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-blue{
    background-color: rgb(150, 150, 208);
    width: 100%;
    height: 100px;
    background-image: url(./img/pattern.png);
    background-size: contain;
    margin-bottom: 15px;
}

.logo{
    background-image: url(./img/logo.svg);
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
}

.container{
    margin-left: 15px;
}

.titolo{
    font-size: 50px;
}

.sottotitolo{
    font-weight: 600;
    color: gray;
}

a{
    text-decoration: none;
    color: blue;
}

.data{
    font-weight: 300;
    color: gray;
}

.fototim{
    margin-top: 20px;
}

h6{
   font-weight: 300; 
}

.paragrafo{
    font-weight: 400;
    margin-top: 20px;
}
.giallo{
    background-color: yellow;
}

.listapuntata{
    margin-top: 20px;
    margin-left: 15px;
}

.text-left{
    text-align: left;
}

.prima-riga{
    background-color: rgb(170, 171, 210);
    color: white;
}

.seconda-riga{
    background-color: aqua;
}

table{
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-footer{
    color: gray;
    margin-top: 25px;
}

.monitor{
    margin-top: 15px;
    margin-bottom: 15px;
}

.graph{
    margin-bottom: 25px;
}

.foto-monitor{
    background-image: url(./img/monitor.jpg);
    width: auto;
}

.foto-graph{
    background-image: url(./img/graph.jpg);
    width: auto;
}

